# Environment & secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# Gradio
gradio_cached_examples/
flagged/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
